body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(93, 2, 83);
  background: linear-gradient(
    274deg,
    rgba(93, 2, 83, 1) 0%,
    rgba(255, 73, 193, 1) 46%,
    rgba(255, 255, 255, 1) 90%
  );
}
