
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@1,500&display=swap');



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
table {

    border-collapse: collapse;
    background-color: white;
    width: 85vw;
}

th,td {


    border: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
} 

.header-fixed {

    height: 500px;
    overflow: auto;
    margin-top: -50px;
}
